<button class="btn btn-warning" (click)="openModal(template)">New</button>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">Name</th>
        <th scope="col">Spd</th>
        <th scope="col">Mat</th>
        <th scope="col">Rat</th>
        <th scope="col">Def</th>
        <th scope="col">Arm</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let npc of npcs">
            <td>
                <button class="btn btn-primary">View</button>
                <button class="btn btn-success">Assign</button>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger">Delete</button></td>
            <td>{{npc.name}}</td>
            <td></td>
        </tr>
      </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New {{newLabel}} Entry</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
        <label for="name">Name</label>
        <input aria-describedby="title" type="text" #newEntry/>
    </div>
  </div>
  <button class="btn btn-success" (click)="add(newEntry)">Save</button>
</ng-template>

<ng-template #viewTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{this.npc.Name}}</h4>
  </div>
  <div class="modal-body">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Actions</th>
            <th scope="col">Spd</th>
            <th scope="col">Mat</th>
            <th scope="col">Rat</th>
            <th scope="col">Def</th>
            <th scope="col">Arm</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let npc of this.encounter.Npcs">
              <td><button class="btn btn-danger" (click)="removeNpc(encounter, npc)">Delete</button></td>
              <td>{{npc.Name}}</td>
            </tr>
           </tbody>
      </table>
    </div>
  </div>
</ng-template>