<button class="btn btn-warning" (click)="openModal(template)">New</button>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">Name</th>
        <th scope="col">Spd</th>
        <th scope="col">Mat</th>
        <th scope="col">Rat</th>
        <th scope="col">Def</th>
        <th scope="col">Arm</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let npc of npcs">
            <td>
              <button class="btn btn-primary" (click)="viewModal(viewTemplate, npc)">View</button>
                <button class="btn btn-success">Assign</button>
                <button class="btn btn-info" (click)="editModal(editTemplate, npc)">Edit</button>
                <button class="btn btn-danger" (click)="deleteModal(deleteTemplate, npc)">Delete</button>
              </td>
            <td>{{npc.Name}}</td>
            <td>{{npc.Spd}}</td>
            <td>{{npc.Mat}}</td>
            <td>{{npc.Rat}}</td>
            <td>{{npc.Def}}</td>
            <td>{{npc.Arm}}</td>
            <td></td>
        </tr>
      </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New {{newLabel}} Entry</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
        <label for="name">Name</label>
        <input aria-describedby="title" type="text" #newEntry/>
    </div>
  </div>
  <button class="btn btn-success" (click)="add(newEntry)">Save</button>
</ng-template>

<ng-template #viewTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{this.npc.Name}}</h4>
  </div>
  <div class="modal-body">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Spd</th>
            <th scope="col">Mat</th>
            <th scope="col">Rat</th>
            <th scope="col">Def</th>
            <th scope="col">Arm</th>
            <th scope="col">Abilities</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let npc of this.npcs">
              <td>{{npc.Spd}}</td>
              <td>{{npc.Mat}}</td>
              <td>{{npc.Rat}}</td>
              <td>{{npc.Def}}</td>
              <td>{{npc.Arm}}</td>
              <td>{{npc.Abilities.join(", ")}}</td>
            </tr>
           </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{this.npc.Name}}</h4>
  </div>
  <div class="modal-body">
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Actions</th>
            <th scope="col">Spd</th>
            <th scope="col">Mat</th>
            <th scope="col">Rat</th>
            <th scope="col">Def</th>
            <th scope="col">Arm</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let npc of this.npcs">
              <td><button class="btn btn-danger" (click)="removeNpc(npc)">Delete</button></td>
              <td><input type="number" value={{npc.Spd}}/></td>
              <td><input type="number" value={{npc.Mat}}/></td>
              <td><input type="number" value={{npc.Rat}}/></td>
              <td><input type="number" value={{npc.Def}}/></td>
              <td><input type="number" value={{npc.Arm}}/></td>
            </tr>
           </tbody>
      </table>
    </div>
    <button class="btn btn-success" (click)="update(npc)">Save Changes</button>
  </div>
</ng-template>

<ng-template #deleteTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete {{this.npc.Name}}?</h4>
  </div>
  <div class="modal-body">
    <div>
      Are you sure?  This action cannot be undone.
    </div>
  </div>
  <button class="btn btn-danger" (click)="removeNpc(this.npc)">Delete</button>
</ng-template>