<button class="btn btn-warning" (click)="openModal(newTemplate)">New</button>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Actions</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let encounter of encounters">
            <td>
                <button class="btn btn-primary" (click)="viewModal(viewTemplate, encounter)">View</button>
                <button class="btn btn-info" (click)="editModal(editTemplate, encounter)">Edit</button>
                <button class="btn btn-danger" (click)="deleteModal(deleteTemplate, encounter)">Delete</button></td>
            <td>{{encounter.Name}}</td>
        </tr>
       </tbody>
  </table>
  
  <ng-template #newTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">New {{newLabel}} Entry</h4>
    </div>
    <div class="modal-body">
      <div>
          <label for="name">Name</label>
          <input aria-describedby="title" type="text" #newEntry/>
      </div>
    </div>
    <button class="btn btn-success" (click)="add(newEntry)">Save</button>
  </ng-template>

  <ng-template #viewTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{this.encounter.Name}}</h4>
    </div>
    <div class="modal-body">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Actions</th>
              <th scope="col">NPC Name</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let npc of this.encounter.Npcs">
                <td><button class="btn btn-danger" (click)="removeNpc(encounter, npc)">Delete</button></td>
                <td>{{npc.Name}}</td>
              </tr>
             </tbody>
        </table>
      </div>
    </div>
  </ng-template>

  <ng-template #editTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left"></h4>
    </div>
    <div class="modal-body">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Actions</th>
              <th scope="col">NPC Name</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let npc of encounter.Npcs">
                <td><button class="btn btn-danger" (click)="removeNpc(encounter, npc)">Delete</button></td>
                <td>{{npc.Name}}</td>
              </tr>
             </tbody>
        </table>
        <label for="name">Add</label>
        <input aria-describedby="title" value="{{npc.value}}" type="text" #npc/>
        <button class="btn btn-success" (click)="addNpc(encounter, npc)">Save</button>
      </div>
    </div>
  </ng-template>
  
  <ng-template #deleteTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Delete {{this.encounter.Name}}?</h4>
    </div>
    <div class="modal-body">
      <div>
        Are you sure?  This action cannot be undone.
      </div>
    </div>
    <button class="btn btn-danger" (click)="delete(this.encounter)">Delete</button>
  </ng-template>