<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>

<nav class="navbar navbar-top">
    <div class="container navbar">
        <ul class="nav nav-tabs">
            <li class="nav-item active"  (click)="changePage($event)">
                <a class="nav-link">Encounters</a>
            </li>
            <li class="nav-item"  (click)="changePage($event)">
                <a class="nav-link">NPCs</a>
            </li>
          </ul>
    </div>
</nav>

<button class="btn btn-warning">New</button>

<div *ngIf="page === 'Encounters'; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><encounters></encounters></ng-template>
<ng-template #elseBlock><npcs></npcs></ng-template>
